a{
    text-decoration: none;
    font-size: 30px;
}


.loader{
    display: block;
    margin: auto;
}

.card {
    border: solid black;
    background-color: lightblue;
    width: 250px;
    height: 400px;
    padding: 10px;
    margin: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .contenido-card {
    margin-top: auto;
  }
  
  img {
    width: 200px;
    height: 200px;
    object-fit: contain;
  }
  