a{
    text-decoration: none;
    font-size: 30px;
}

.grid-fluid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    text-align: center;
}
.loader{
    display: block;
    margin: auto;
}

figure{
    border: solid black;
    background-color: azure;
    padding: 10px;
}
img{
    max-width: 100%;
    height: 200px;

}