a{
    text-decoration: none;
    font-size: 30px;
}


.loader{
    display: block;
    margin: auto;
}

.card{
    border: solid black;
    background-color: lightblue;
    width: auto;
    height: auto;
    padding: 10px;
    margin: 15px;
}

.contenido-card{
    
}

img{
    max-width: auto;
    height: auto;

}