<h1>Agregar Personaje</h1>

<form (ngSubmit)="mandarDatos()">

    <div>
        <mat-form-field appearance="outline">
            <mat-label>Lucina</mat-label>
            <input matInput placeholder="Nombre">
        </mat-form-field>
    </div>
    <div>
        <mat-form-field appearance="outline">
            <mat-label>Lucina</mat-label>
            <input matInput placeholder="Nombre">
        </mat-form-field>
    </div>
    <div>
        <mat-form-field appearance="outline">
            <mat-label>Lucina</mat-label>
            <input matInput placeholder="Nombre">
        </mat-form-field>
    </div>
    <div>
        <mat-form-field appearance="outline">
            <mat-label>Lucina</mat-label>
            <input matInput placeholder="Nombre">
        </mat-form-field>
    </div> 
    <div>
        <mat-form-field appearance="outline">
            <mat-label>Lucina</mat-label>
            <input matInput placeholder="Nombre">
        </mat-form-field>
    </div>
</form>


