

<div mat-dialog-content class="formulario">
    
    
    <form (ngSubmit)="mandarDatos(valoresActualizados.value)" #valoresActualizados = "ngForm">
        <div mat-dialog-title>Agregar Personaje</div>
        <div>
            <mat-form-field >
                <mat-label>Nombre</mat-label>
                <input matInput name="nombre" [(ngModel)]="nombre">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field >
                <mat-label>Fuerza</mat-label>
                <input matInput name = "fuerza"  [(ngModel)]="fuerza">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field >
                <mat-label>Defensa</mat-label>
                <input matInput name = "defensa"  [(ngModel)]="defensa" >
            </mat-form-field>
        </div>
        <div>
            <mat-form-field >
                <mat-label>URL Imagen</mat-label>
                <input matInput name = "img"  [(ngModel)]="img">
            </mat-form-field>
        </div>
        <div mat-dialog-actions >
            <button mat-stroked-button color="primary" [mat-dialog-close]="true" (click)="mandarDatos(valoresActualizados.value)" >Ingresar Personaje</button>
        </div>
    </form>

</div>