html{
    text-align:center;
    font-size: 18px;

}

a{
    text-decoration: none;
    font-size: 30px;
}

.grid-fluid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    
    align-content: center;
    margin: auto;
}
.loader{
    display: block;
    margin: auto;
}

.input-button-container {
    display: flex;
    justify-content: space-between;
    margin: 35px;
  }